## Task 3 - Data Process for Tableau Dashboard

In [1]:
import pandas as pd
from scripts import project_functions

In [6]:
processed_data_ct= (project_functions.load_and_process_ct("../../data/raw/mht_raw.csv")
                    .rename(columns= {"employees":"Number of employees"}))
processed_data_ct

     Number of employees consequence     coworkers    supervisor
0                   6-25          No  Some of them           Yes
1         More than 1000       Maybe            No            No
2                   6-25          No           Yes           Yes
3                 26-100         Yes  Some of them            No
4                100-500          No  Some of them           Yes
...                  ...         ...           ...           ...
1254              26-100          No  Some of them  Some of them
1255              26-100          No  Some of them           Yes
1256      More than 1000         Yes            No            No
1257             100-500         Yes            No            No
1258              26-100       Maybe  Some of them            No

[1259 rows x 4 columns]

In [7]:
processed_data_ct.to_csv("C:/Users/cltom/OneDrive/Documents/COSC301/project-group37-project/data/processed/mht_processed_ct.csv")