## Task 3 - Data Process for Tableau Dashboard

In [1]:
import pandas as pd
from scripts import project_functions

In [8]:
processed_data_ct= (project_functions.load_and_process_ct("C:/Users/cltom/OneDrive/Documents/COSC301/project-group37-project/data/raw/mentalhealthintech.csv")
                    .rename(columns= {"employees":"Number of employees"}))
processed_data_ct.head()

  Number of employees consequence     coworkers supervisor
0              25-Jun          No  Some of them        Yes
1      More than 1000       Maybe            No         No
2              25-Jun          No           Yes        Yes
3              26-100         Yes  Some of them         No
4             100-500          No  Some of them        Yes

In [9]:
processed_data_ct.to_csv("C:/Users/cltom/OneDrive/Documents/COSC301/project-group37-project/data/processed/mht_processed_ct.csv")