In [7]:
# import commands

import pandas as pd
import numpy as np
from scripts import project_functions_gc as pfg
import seaborn as sns
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport

%matplotlib inline

In [16]:
mh = pfg.load_and_process('../../data/raw/mentalhealthintech.csv')
mh

,treatment,work_interfere,benefits,care_options,wellness_program,seek_help,condition,resources,knowledge
0,Yes,Sometimes,1,1,2,2,Yes,Poor,Knowledgeable
1,Yes,Often,1,1,2,2,Yes,Poor,Knowledgeable
2,Yes,Rarely,1,0,0,1,Yes,Good,Somewhat knowledgeable
3,No,N/A,0,0,2,0,No,Poor,Not knowledgeable
4,Yes,Rarely,1,1,0,0,Yes,Poor,Somewhat knowledgeable
...,...,...,...,...,...,...,...,...,...
878,Yes,Sometimes,1,1,1,2,Yes,Good,Knowledgeable
879,Yes,N/A,2,2,2,2,No,Poor,Knowledgeable
880,Yes,Often,1,1,2,2,Yes,Poor,Knowledgeable
881,Yes,Sometimes,1,1,2,2,Yes,Poor,Knowledgeable
882,No,N/A,2,1,2,2,No,Poor,Knowledgeable

In [19]:
mh = mh.replace({0:"Don't know",1:'Yes', 2:'No'})
mh

,treatment,work_interfere,benefits,care_options,wellness_program,seek_help,condition,resources,knowledge
0,Yes,Sometimes,Yes,Yes,No,No,Yes,Poor,Knowledgeable
1,Yes,Often,Yes,Yes,No,No,Yes,Poor,Knowledgeable
2,Yes,Rarely,Yes,Don't know,Don't know,Yes,Yes,Good,Somewhat knowledgeable
3,No,N/A,Don't know,Don't know,No,Don't know,No,Poor,Not knowledgeable
4,Yes,Rarely,Yes,Yes,Don't know,Don't know,Yes,Poor,Somewhat knowledgeable
...,...,...,...,...,...,...,...,...,...
878,Yes,Sometimes,Yes,Yes,Yes,No,Yes,Good,Knowledgeable
879,Yes,N/A,No,No,No,No,No,Poor,Knowledgeable
880,Yes,Often,Yes,Yes,No,No,Yes,Poor,Knowledgeable
881,Yes,Sometimes,Yes,Yes,No,No,Yes,Poor,Knowledgeable
882,No,N/A,No,Yes,No,No,No,Poor,Knowledgeable

In [20]:
mh.to_csv("../../data/processed/mh_processed_gc.csv")