In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
%matplotlib inline

In [2]:
sns.set_theme(style="white",
              font_scale=1.7)

df1=pd.read_csv("C:/Users/alraw/Documents/COSC301/survey.csv")
df1

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [4]:
df1.describe(exclude=[np.object]).T

C:\Users\alraw\AppData\Local\Temp/ipykernel_30432/3785358294.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df1.describe(exclude=[np.object]).T

,count,mean,std,min,25%,50%,75%,max
Age,1259.0,7.942815e+07,2.818299e+09,-1726.0,27.0,31.0,36.0,1.000000e+11

In [5]:
df1.describe(exclude=[np.number]).T

                          count unique                              top  freq
Timestamp                  1259   1246              2014-08-27 12:44:51     2
Gender                     1259     49                             Male   615
Country                    1259     48                    United States   751
state                       744     45                               CA   138
self_employed              1241      2                               No  1095
family_history             1259      2                               No   767
treatment                  1259      2                              Yes   637
work_interfere              995      4                        Sometimes   465
no_employees               1259      6                             6-25   290
remote_work                1259      2                               No   883
tech_company               1259      2                              Yes  1031
benefits                   1259      3                              Yes   477
care_options               1259      3                               No   501
wellness_program           1259      3                               No   842
seek_help                  1259      3                               No   646
anonymity                  1259      3                       Don't know   819
leave                      1259      5                       Don't know   563
mental_health_consequence  1259      3                               No   490
phys_health_consequence    1259      3                               No   925
coworkers                  1259      3                     Some of them   774
supervisor                 1259      3                              Yes   516
mental_health_interview    1259      3                               No  1008
phys_health_interview      1259      3                            Maybe   557
mental_vs_physical         1259      3                       Don't know   576
obs_consequence            1259      2                               No  1075
comments                    164    160  * Small family business - YMMV.     5

In [6]:
df2=df1.drop(columns=['state','self_employed','work_interfere','coworkers','supervisor','mental_vs_physical','anonymity','obs_consequence','mental_health_interview','care_options','phys_health_interview','comments'])
df2

,Timestamp,Age,Gender,Country,family_history,treatment,no_employees,remote_work,tech_company,benefits,wellness_program,seek_help,leave,mental_health_consequence,phys_health_consequence
0,2014-08-27 11:29:31,37,Female,United States,No,Yes,6-25,No,Yes,Yes,No,Yes,Somewhat easy,No,No
1,2014-08-27 11:29:37,44,M,United States,No,No,More than 1000,No,No,Don't know,Don't know,Don't know,Don't know,Maybe,No
2,2014-08-27 11:29:44,32,Male,Canada,No,No,6-25,No,Yes,No,No,No,Somewhat difficult,No,No
3,2014-08-27 11:29:46,31,Male,United Kingdom,Yes,Yes,26-100,No,Yes,No,No,No,Somewhat difficult,Yes,Yes
4,2014-08-27 11:30:22,31,Male,United States,No,No,100-500,Yes,Yes,Yes,Don't know,Don't know,Don't know,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,No,Yes,26-100,No,Yes,No,No,No,Somewhat easy,No,No
1255,2015-09-26 01:07:35,32,Male,United States,Yes,Yes,26-100,Yes,Yes,Yes,No,No,Somewhat difficult,No,No
1256,2015-11-07 12:36:58,34,male,United States,Yes,Yes,More than 1000,No,Yes,Yes,No,No,Somewhat difficult,Yes,Yes
1257,2015-11-30 21:25:06,46,f,United States,No,No,100-500,Yes,Yes,No,No,No,Don't know,Yes,No
1258,2016-02-01 23:04:31,25,Male,United States,Yes,Yes,26-100,No,No,Yes,No,No,Don't know,Maybe,No

In [8]:
df3=df2.dropna(subset=['family_history','no_employees', 'remote_work','mental_health_consequence','phys_health_consequence'])
df3

,Timestamp,Age,Gender,Country,family_history,treatment,no_employees,remote_work,tech_company,benefits,wellness_program,seek_help,leave,mental_health_consequence,phys_health_consequence
0,2014-08-27 11:29:31,37,Female,United States,No,Yes,6-25,No,Yes,Yes,No,Yes,Somewhat easy,No,No
1,2014-08-27 11:29:37,44,M,United States,No,No,More than 1000,No,No,Don't know,Don't know,Don't know,Don't know,Maybe,No
2,2014-08-27 11:29:44,32,Male,Canada,No,No,6-25,No,Yes,No,No,No,Somewhat difficult,No,No
3,2014-08-27 11:29:46,31,Male,United Kingdom,Yes,Yes,26-100,No,Yes,No,No,No,Somewhat difficult,Yes,Yes
4,2014-08-27 11:30:22,31,Male,United States,No,No,100-500,Yes,Yes,Yes,Don't know,Don't know,Don't know,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,No,Yes,26-100,No,Yes,No,No,No,Somewhat easy,No,No
1255,2015-09-26 01:07:35,32,Male,United States,Yes,Yes,26-100,Yes,Yes,Yes,No,No,Somewhat difficult,No,No
1256,2015-11-07 12:36:58,34,male,United States,Yes,Yes,More than 1000,No,Yes,Yes,No,No,Somewhat difficult,Yes,Yes
1257,2015-11-30 21:25:06,46,f,United States,No,No,100-500,Yes,Yes,No,No,No,Don't know,Yes,No
1258,2016-02-01 23:04:31,25,Male,United States,Yes,Yes,26-100,No,No,Yes,No,No,Don't know,Maybe,No